/* RESET BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* SFONDO PAGINA */
body {
  background: linear-gradient(to right, #ffffff,#4284f7, #4b0082);
  color: #000;
}

/* CONTAINER GENERALE */
.container {
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
}

/* TITOLO */
h2 {
  margin-bottom: 20px;
}

/* SEARCH BAR */
.search-input {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-right: 15px;
}

/* CARD DOCUMENTO */
.card {
  background-color: #4284f7; 
  color: #000000; 
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* NOME DOCUMENTO */
.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* TIPO DOCUMENTO */
.badge {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 12px;
  padding: 4px 10px;
  background-color: #1107ff;
  border-radius: 20px;
  font-size: 12px;
}

/* PULSANTI */
.btn {
  background-color: #4b0082; 
  color: #ffffff;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.2s ease;
}

.btn:hover {
  opacity: 0.85;
}

/* INPUT */
.input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 15px;
}

/* SELECT */
.select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

/* SCROLL ANTEPRIMA */
.preview-box {
  height: 400px;              
  overflow-y: auto;           
  border: 1px solid #040404;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
}